@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Playfair+Display&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: white;
}
/*elementos simples*/
h1 {
    font-size: 3em;
    font-weight: 600;
    font-family: 'Libre Baskerville', serif;
}
p {
    font-family: 'Roboto', consolas, monospace;
    padding: 0.2em;
}
h2 {
    font-size: 2em;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 0 0 6px blue;
    
}
h2:not(footer h2) {
    border-bottom: 0.2px solid blanchedalmond;
}
/*elementos compostos*/
p, .navbar a, footer a {
    font-size: 1.2em;
}
/*navbar*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1B2035;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
}
.navbar a, .icon {
    text-decoration: none;
    color: blanchedalmond;
    padding: 1em 1.5em;
    font-family: Arial, Helvetica, sans-serif;

}
svg {
    fill: white;
}
.navbar a:hover:not(.icon) {
    background-color: #555;
}
/*elementos container*/
header {
    
    height: 50vh;
    width: 100%;  
    color: white;
    grid-area: banner;
    text-align: center;
}
.container {
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)), url(space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.8fr 0.8fr 0.8fr 0.8 0.5fr;
    grid-template-areas:
    "intro banner"
    "pythonjsicon js"
    "pythoncontent webicon"
    "conteudoweb ingles"
    " footer footer"
}
.container a {
    text-decoration: none;
}
.intro {
    grid-area: intro;
    color: black;
    text-align: center;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
}

.pythonjscontainer {
    grid-area: pythonjsicon;
    border-left: 0.1em solid white;
    border-top: 0.1em solid white;
;
}

.pythoncontent {
    grid-area: pythoncontent;
    text-align: justify;
    border-left: 0.1em solid white;
    border-bottom: 0.1em solid white;
    border-left: 0.1em solid white;
    border-right:0.1em solid white;
}

.js {
    grid-area: js;
    border-top: 0.1em solid white;
    border-right:0.1em solid white;
}
.ingles {
    grid-area: ingles;
    text-align: justify;
    border-bottom: 0.1em solid white;
}
.conteudoweb {
    grid-area: conteudoweb;
    text-align: justify;
    border-left: 0.1em solid white;
    border-top: 0.1em solid white;
    border-bottom: 0.1em solid white;
}
.webicon {
    grid-area: webicon;
    border-top: 0.1em solid white;
}
footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    background-color: #1b203560;
}
footer nav {
    display: flex;
    flex-flow: column;
}
footer a, footer p {
    margin: 0.5em;
}
footer h2 {
    margin-top: 0.2em;
}
.conteinercontent1, .conteinercontent2, .conteinercontent3 {
    margin: 5.5em;
    border-radius: 15px;
    box-shadow: -6px -6px 6px #545c8c, 10px 10px 10px rgba(000, 000, 000, 0.123);
    text-align: center;
    padding: 0.3em;
}
.conteinercontent4, .conteinercontent5, .conteinercontent6 {
    margin: 5.5em;
    border-radius: 15px;
    box-shadow: -6px -6px 6px #545c8c, 10px 10px 10px rgba(000, 000, 000, 0.123);
    text-align: center;
    padding: 0.3em;
}
.conteinercontent1:hover, .conteinercontent2:hover, .conteinercontent3:hover {
    transform: translateY(2em);
    box-shadow: -8px -8px 32px 2px rgb(255, 255, 0),
    10px 10px 10px blue;
    transition: 0.3s;
}
.conteinercontent4:hover, .conteinercontent5:hover, .conteinercontent6:hover {
    transform: translateY(2em);
    box-shadow: -8px -8px 32px 2px orange,
    10px 10px 10px blue;
    transition: 0.3s;
}
#181818
rgba(0, 0, 0, 0.856)